<a href="https://colab.research.google.com/github/shubhanginikam12/DSBDA/blob/main/DSBDA_A%3D3-B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('/content/Untitled spreadsheet - Sheet1 (2).csv')

In [4]:
df1=df
df2=df1
df3=df
df4=df

In [5]:
df

     CustomerID  Gender   Age Group  Age  Salary  Spending Score (1-100)
0             1    Male        Teen   19      15                      39
1             2    Male  Middle Age   21      15                      81
2             3  Female  Middle Age   20      16                       6
3             4  Female  Middle Age   23      16                      77
4             5  Female  Middle Age   31      17                      40
..          ...     ...         ...  ...     ...                     ...
195         196  Female  Middle Age   35     120                      79
196         197  Female       Elder   45     126                      28
197         198    Male  Middle Age   32     126                      74
198         199    Male  Middle Age   32     137                      18
199         200    Male  Middle Age   30     137                      83

[200 rows x 6 columns]

In [6]:
df.columns

Index(['CustomerID', 'Gender', 'Age Group', 'Age', 'Salary',
       'Spending Score (1-100)'],
      dtype='object')

In [7]:
print(df['Salary'].mean())

60.56

In [8]:
print(df['Salary'].mode())

0    54
1    78
Name: Salary, dtype: int64

In [9]:
print(df['Salary'].median())

61.5

In [10]:
print(df['CustomerID'].mean())

100.5

In [11]:
print(df['CustomerID'].mode())

0        1
1        2
2        3
3        4
4        5
      ...
195    196
196    197
197    198
198    199
199    200
Name: CustomerID, Length: 200, dtype: int64

In [12]:
print(df['CustomerID'].median())

100.5

In [13]:
print(df['Gender'].mode())

0    Female
Name: Gender, dtype: object

In [ ]:
print(df['Age Group'].mode())

0    Middle Age
Name: Age Group, dtype: object

In [14]:
print(df['Age'].mean())

38.85

In [15]:
print(df['Age'].mode())

0    32
Name: Age, dtype: int64

In [16]:
print(df['Age'].median())

36.0

In [17]:
print(df['Spending Score (1-100)'].mean())

50.2

In [18]:
print(df['Spending Score (1-100)'].mode())

0    42
Name: Spending Score (1-100), dtype: int64

In [19]:
print(df['Spending Score (1-100)'].median())

50.0

In [20]:
df['CustomerID']

0        1
1        2
2        3
3        4
4        5
      ...
195    196
196    197
197    198
198    199
199    200
Name: CustomerID, Length: 200, dtype: int64

In [21]:
df['Gender']

0        Male
1        Male
2      Female
3      Female
4      Female
        ...
195    Female
196    Female
197      Male
198      Male
199      Male
Name: Gender, Length: 200, dtype: object

In [22]:
df['Age Group']

0            Teen
1      Middle Age
2      Middle Age
3      Middle Age
4      Middle Age
          ...
195    Middle Age
196         Elder
197    Middle Age
198    Middle Age
199    Middle Age
Name: Age Group, Length: 200, dtype: object

In [23]:
df['Age']

0      19
1      21
2      20
3      23
4      31
       ..
195    35
196    45
197    32
198    32
199    30
Name: Age, Length: 200, dtype: int64

In [24]:
df['Salary']

0       15
1       15
2       16
3       16
4       17
      ...
195    120
196    126
197    126
198    137
199    137
Name: Salary, Length: 200, dtype: int64

In [25]:
df['Spending Score (1-100)']

0      39
1      81
2       6
3      77
4      40
       ..
195    79
196    28
197    74
198    18
199    83
Name: Spending Score (1-100), Length: 200, dtype: int64

In [26]:
df.isnull()

     CustomerID  Gender  Age Group    Age  Salary  Spending Score (1-100)
0         False   False      False  False   False                   False
1         False   False      False  False   False                   False
2         False   False      False  False   False                   False
3         False   False      False  False   False                   False
4         False   False      False  False   False                   False
..          ...     ...        ...    ...     ...                     ...
195       False   False      False  False   False                   False
196       False   False      False  False   False                   False
197       False   False      False  False   False                   False
198       False   False      False  False   False                   False
199       False   False      False  False   False                   False

[200 rows x 6 columns]

In [27]:
df.isnull().sum()

CustomerID                0
Gender                    0
Age Group                 0
Age                       0
Salary                    0
Spending Score (1-100)    0
dtype: int64

In [28]:
df.describe()

       CustomerID         Age      Salary  Spending Score (1-100)
count  200.000000  200.000000  200.000000              200.000000
mean   100.500000   38.850000   60.560000               50.200000
std     57.879185   13.969007   26.264721               25.823522
min      1.000000   18.000000   15.000000                1.000000
25%     50.750000   28.750000   41.500000               34.750000
50%    100.500000   36.000000   61.500000               50.000000
75%    150.250000   49.000000   78.000000               73.000000
max    200.000000   70.000000  137.000000               99.000000

In [29]:
df2.head()

   CustomerID  Gender   Age Group  Age  Salary  Spending Score (1-100)
0           1    Male        Teen   19      15                      39
1           2    Male  Middle Age   21      15                      81
2           3  Female  Middle Age   20      16                       6
3           4  Female  Middle Age   23      16                      77
4           5  Female  Middle Age   31      17                      40

In [30]:
df1.head()

   CustomerID  Gender   Age Group  Age  Salary  Spending Score (1-100)
0           1    Male        Teen   19      15                      39
1           2    Male  Middle Age   21      15                      81
2           3  Female  Middle Age   20      16                       6
3           4  Female  Middle Age   23      16                      77
4           5  Female  Middle Age   31      17                      40

In [31]:
df3.head()

   CustomerID  Gender   Age Group  Age  Salary  Spending Score (1-100)
0           1    Male        Teen   19      15                      39
1           2    Male  Middle Age   21      15                      81
2           3  Female  Middle Age   20      16                       6
3           4  Female  Middle Age   23      16                      77
4           5  Female  Middle Age   31      17                      40

In [32]:
df4.head()

   CustomerID  Gender   Age Group  Age  Salary  Spending Score (1-100)
0           1    Male        Teen   19      15                      39
1           2    Male  Middle Age   21      15                      81
2           3  Female  Middle Age   20      16                       6
3           4  Female  Middle Age   23      16                      77
4           5  Female  Middle Age   31      17                      40

In [33]:
df.replace(to_replace=np.nan,value=80)

     CustomerID  Gender   Age Group  Age  Salary  Spending Score (1-100)
0             1    Male        Teen   19      15                      39
1             2    Male  Middle Age   21      15                      81
2             3  Female  Middle Age   20      16                       6
3             4  Female  Middle Age   23      16                      77
4             5  Female  Middle Age   31      17                      40
..          ...     ...         ...  ...     ...                     ...
195         196  Female  Middle Age   35     120                      79
196         197  Female       Elder   45     126                      28
197         198    Male  Middle Age   32     126                      74
198         199    Male  Middle Age   32     137                      18
199         200    Male  Middle Age   30     137                      83

[200 rows x 6 columns]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age Group               200 non-null    object
 3   Age                     200 non-null    int64
 4   Salary                  200 non-null    int64
 5   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(2)
memory usage: 9.5+ KB

In [35]:
print(df.shape)

(200, 6)

In [36]:
print(df.head(20))

    CustomerID  Gender   Age Group  Age  Salary  Spending Score (1-100)
0            1    Male        Teen   19      15                      39
1            2    Male  Middle Age   21      15                      81
2            3  Female  Middle Age   20      16                       6
3            4  Female  Middle Age   23      16                      77
4            5  Female  Middle Age   31      17                      40
5            6  Female  Middle Age   22      17                      76
6            7  Female  Middle Age   35      18                       6
7            8  Female  Middle Age   23      18                      94
8            9    Male       Elder   64      19                       3
9           10  Female  Middle Age   30      19                      72
10          11    Male       Elder   67      19                      14
11          12  Female  Middle Age   35      19                      99
12          13  Female       Elder   58      20                      15
13          14  Female  Middle Age   24      20                      77
14          15    Male  Middle Age   37      20                      13
15          16    Male  Middle Age   22      20                      79
16          17  Female  Middle Age   35      21                      35
17          18    Male  Middle Age   20      21                      66
18          19    Male       Elder   52      23                      29
19          20  Female  Middle Age   35      23                      98

In [37]:
df['Age Group'].value_counts(normalize=True)

Middle Age    0.52
Elder         0.42
Teen          0.06
Name: Age Group, dtype: float64

In [38]:
df['CustomerID'].value_counts(normalize=True)

1      0.005
138    0.005
128    0.005
129    0.005
130    0.005
       ...
70     0.005
71     0.005
72     0.005
73     0.005
200    0.005
Name: CustomerID, Length: 200, dtype: float64

In [39]:
df['Gender'].value_counts(normalize=True)

Female    0.56
Male      0.44
Name: Gender, dtype: float64

In [40]:
df['Age'].value_counts(normalize=True)

32    0.055
35    0.045
19    0.040
31    0.040
30    0.035
49    0.035
40    0.030
38    0.030
47    0.030
27    0.030
36    0.030
23    0.030
34    0.025
20    0.025
29    0.025
50    0.025
48    0.025
21    0.025
24    0.020
18    0.020
28    0.020
67    0.020
59    0.020
54    0.020
43    0.015
60    0.015
45    0.015
39    0.015
33    0.015
37    0.015
22    0.015
25    0.015
46    0.015
68    0.015
52    0.010
44    0.010
66    0.010
57    0.010
26    0.010
53    0.010
42    0.010
63    0.010
70    0.010
51    0.010
58    0.010
65    0.010
41    0.010
55    0.005
69    0.005
64    0.005
56    0.005
Name: Age, dtype: float64

In [41]:
df['Salary'].value_counts(normalize=True)

54     0.06
78     0.06
48     0.03
71     0.03
63     0.03
       ...
58     0.01
59     0.01
16     0.01
64     0.01
137    0.01
Name: Salary, Length: 64, dtype: float64

In [42]:
df['Spending Score (1-100)'].value_counts(normalize=True)

42    0.040
55    0.035
46    0.030
73    0.030
35    0.025
      ...
31    0.005
44    0.005
53    0.005
65    0.005
18    0.005
Name: Spending Score (1-100), Length: 84, dtype: float64

In [43]:
df = pd.DataFrame([['Male', 19, 15],
                  ['Female', 22, 17],
                  ['Female', 35, 21]])
df.columns = ['Gender','Age','Salary']
df.head()

   Gender  Age  Salary
0    Male   19      15
1  Female   22      17
2  Female   35      21

In [47]:
df=pd.read_csv('/content/Untitled spreadsheet - Sheet1 (2).csv')

In [48]:
df[['CustomerID','Salary']].mean()

CustomerID    100.50
Salary         60.56
dtype: float64

In [50]:
df[['CustomerID','Gender','Age Group','Age','Salary','Spending Score (1-100)']].min()

CustomerID                     1
Gender                    Female
Age Group                  Elder
Age                           18
Salary                        15
Spending Score (1-100)         1
dtype: object

In [51]:
df[['CustomerID','Spending Score (1-100)']].median()

CustomerID                100.5
Spending Score (1-100)     50.0
dtype: float64

In [52]:
df[['CustomerID','Gender','Age Group','Age','Salary','Spending Score (1-100)']].max()

CustomerID                 200
Gender                    Male
Age Group                 Teen
Age                         70
Salary                     137
Spending Score (1-100)      99
dtype: object

In [53]:
df[['Salary','Spending Score (1-100)']].std()

Salary                    26.264721
Spending Score (1-100)    25.823522
dtype: float64

In [54]:
df2=df.groupby('Gender')

In [55]:
df2

In [56]:
for Gender,Gender_f in df2:
    print(Gender)
    print(Gender_f)

Female
     CustomerID  Gender   Age Group  Age  Salary  Spending Score (1-100)
2             3  Female  Middle Age   20      16                       6
3             4  Female  Middle Age   23      16                      77
4             5  Female  Middle Age   31      17                      40
5             6  Female  Middle Age   22      17                      76
6             7  Female  Middle Age   35      18                       6
..          ...     ...         ...  ...     ...                     ...
191         192  Female  Middle Age   32     103                      69
193         194  Female  Middle Age   38     113                      91
194         195  Female       Elder   47     120                      16
195         196  Female  Middle Age   35     120                      79
196         197  Female       Elder   45     126                      28

[112 rows x 6 columns]
Male
     CustomerID Gender   Age Group  Age  Salary  Spending Score (1-100)
0             1   Male        Teen   19      15                      39
1             2   Male  Middle Age   21      15                      81
8             9   Male       Elder   64      19                       3
10           11   Male       Elder   67      19                      14
14           15   Male  Middle Age   37      20                      13
..          ...    ...         ...  ...     ...                     ...
187         188   Male  Middle Age   28     101                      68
192         193   Male  Middle Age   33     113                       8
197         198   Male  Middle Age   32     126                      74
198         199   Male  Middle Age   32     137                      18
199         200   Male  Middle Age   30     137                      83

[88 rows x 6 columns]

In [57]:
df2.get_group('Female')

     CustomerID  Gender   Age Group  Age  Salary  Spending Score (1-100)
2             3  Female  Middle Age   20      16                       6
3             4  Female  Middle Age   23      16                      77
4             5  Female  Middle Age   31      17                      40
5             6  Female  Middle Age   22      17                      76
6             7  Female  Middle Age   35      18                       6
..          ...     ...         ...  ...     ...                     ...
191         192  Female  Middle Age   32     103                      69
193         194  Female  Middle Age   38     113                      91
194         195  Female       Elder   47     120                      16
195         196  Female  Middle Age   35     120                      79
196         197  Female       Elder   45     126                      28

[112 rows x 6 columns]

In [58]:
df2.get_group('Male')

     CustomerID Gender   Age Group  Age  Salary  Spending Score (1-100)
0             1   Male        Teen   19      15                      39
1             2   Male  Middle Age   21      15                      81
8             9   Male       Elder   64      19                       3
10           11   Male       Elder   67      19                      14
14           15   Male  Middle Age   37      20                      13
..          ...    ...         ...  ...     ...                     ...
187         188   Male  Middle Age   28     101                      68
192         193   Male  Middle Age   33     113                       8
197         198   Male  Middle Age   32     126                      74
198         199   Male  Middle Age   32     137                      18
199         200   Male  Middle Age   30     137                      83

[88 rows x 6 columns]

In [59]:
df2[['CustomerID','Gender','Age Group','Age','Salary','Spending Score (1-100)']].max()

        CustomerID  Gender Age Group  Age  Salary  Spending Score (1-100)
Gender
Female         197  Female      Teen   68     126                      99
Male           200    Male      Teen   70     137                      97

In [60]:
df2[['CustomerID','Gender','Age Group','Age','Salary','Spending Score (1-100)']].min()

        CustomerID  Gender Age Group  Age  Salary  Spending Score (1-100)
Gender
Female           3  Female     Elder   18      16                       5
Male             1    Male     Elder   18      15                       1

In [61]:
df2[['CustomerID','Gender','Age Group','Age','Salary','Spending Score (1-100)']].mean()

        CustomerID        Age     Salary  Spending Score (1-100)
Gender
Female   97.562500  38.098214  59.250000               51.526786
Male    104.238636  39.806818  62.227273               48.511364

In [62]:
df2[['CustomerID','Gender','Age Group','Age','Salary','Spending Score (1-100)']].std()

        CustomerID        Age     Salary  Spending Score (1-100)
Gender
Female   58.276412  12.644095  26.011952                24.11495
Male     57.483830  15.514812  26.638373                27.89677

In [63]:
a=np.percentile(df3['Age'],50)

In [64]:
a

36.0

# part2

In [65]:
import numpy as np
import pandas as pd

In [67]:
df=pd.read_csv('/content/Untitled spreadsheet - Sheet1 (2).csv')

In [68]:
df

     CustomerID  Gender   Age Group  Age  Salary  Spending Score (1-100)
0             1    Male        Teen   19      15                      39
1             2    Male  Middle Age   21      15                      81
2             3  Female  Middle Age   20      16                       6
3             4  Female  Middle Age   23      16                      77
4             5  Female  Middle Age   31      17                      40
..          ...     ...         ...  ...     ...                     ...
195         196  Female  Middle Age   35     120                      79
196         197  Female       Elder   45     126                      28
197         198    Male  Middle Age   32     126                      74
198         199    Male  Middle Age   32     137                      18
199         200    Male  Middle Age   30     137                      83

[200 rows x 6 columns]

In [69]:
data = {
    "MaleOrFemale" : [
        "Male",
        "Female",
        "Male",
        "Female",
        "Male",
        "Female",
        "Male",
        "Male",
        "Female",
        "Female",
        "Male",
        "Male",
    ],
    "Age" : [25, 64, 57, 62, 70, 25, 34, 57, 62, 70, 62, 70],
}

In [70]:
df = pd.DataFrame(data, columns = ['MaleOrFemale', 'Age'])

In [71]:
df

   MaleOrFemale  Age
0          Male   25
1        Female   64
2          Male   57
3        Female   62
4          Male   70
5        Female   25
6          Male   34
7          Male   57
8        Female   62
9        Female   70
10         Male   62
11         Male   70

In [72]:
groupby_gender = df['Age'].groupby(df['MaleOrFemale'])
groupby_gender

In [73]:
len(list(df['Age'].groupby(df['MaleOrFemale'])))

2

In [74]:
list(df['Age'].groupby(df['MaleOrFemale']))

[('Female', 1    64
  3    62
  5    25
  8    62
  9    70
  Name: Age, dtype: int64), ('Male', 0     25
  2     57
  4     70
  6     34
  7     57
  10    62
  11    70
  Name: Age, dtype: int64)]

In [75]:
df.groupby(['MaleOrFemale']).agg(
 {
     "Age": ['sum', 'max', 'mean', lambda x: x.max() -x.min()]
 })

              Age
              sum max       mean <lambda_0>
MaleOrFemale
Female        283  70  56.600000         45
Male          375  70  53.571429         45

In [76]:
df.groupby(['MaleOrFemale']).agg(
 {
     "Age": ['sum', 'max', 'mean', lambda x: x.max() -x.mode()]
 })

              Age
              sum max       mean <lambda_0>
MaleOrFemale
Female        283  70  56.600000          8
Male          375  70  53.571429    [13, 0]

In [77]:
df.groupby(['MaleOrFemale']).agg(
 {
     "Age": ['sum', 'max', 'mean', lambda x: x.max() -x.median()]
 })

              Age
              sum max       mean <lambda_0>
MaleOrFemale
Female        283  70  56.600000        8.0
Male          375  70  53.571429       13.0

In [78]:
list(df['Age'].groupby(df['MaleOrFemale']))

[('Female', 1    64
  3    62
  5    25
  8    62
  9    70
  Name: Age, dtype: int64), ('Male', 0     25
  2     57
  4     70
  6     34
  7     57
  10    62
  11    70
  Name: Age, dtype: int64)]

In [79]:
len(list(df['Age'].groupby(df['MaleOrFemale']))[0])

2

In [80]:
list(df['Age'].groupby(df['MaleOrFemale']))[0][1]

1    64
3    62
5    25
8    62
9    70
Name: Age, dtype: int64

In [81]:
sum(list(df['Age'].groupby(df['MaleOrFemale']))[0][1])

283

In [82]:
max(list(df['Age'].groupby(df['MaleOrFemale']))[0][1])

70

In [83]:
np.average(list(df['Age'].groupby(df['MaleOrFemale']))[0][1])

56.6

# Part 2

In [84]:
data = {
    "MaleOrFemale" : [
        "Male",
        "Female",
        "Male",
        "Female",
        "Male",
        "Female",
        "Male",
        "Male",
        "Female",
        "Female",
        "Male",
        "Male",
    ],
    "Salary" : [34, 64, 57, 85, 56, 25, 94, 57, 62, 70, 92, 60],
}

In [85]:
df = pd.DataFrame(data, columns = ['MaleOrFemale', 'Salary'])

In [86]:
df

   MaleOrFemale  Salary
0          Male      34
1        Female      64
2          Male      57
3        Female      85
4          Male      56
5        Female      25
6          Male      94
7          Male      57
8        Female      62
9        Female      70
10         Male      92
11         Male      60

In [87]:
groupby_gender = df['Salary'].groupby(df['MaleOrFemale'])
groupby_gender

In [88]:
len(list(df['Salary'].groupby(df['MaleOrFemale'])))

2

In [89]:
list(df['Salary'].groupby(df['MaleOrFemale']))

[('Female', 1    64
  3    85
  5    25
  8    62
  9    70
  Name: Salary, dtype: int64), ('Male', 0     34
  2     57
  4     56
  6     94
  7     57
  10    92
  11    60
  Name: Salary, dtype: int64)]

In [90]:
df.groupby(['MaleOrFemale']).agg(
 {
     "Salary": ['sum', 'max', 'mean', lambda x: x.max() -x.min()]
 })

             Salary
                sum max       mean <lambda_0>
MaleOrFemale
Female          306  85  61.200000         60
Male            450  94  64.285714         60

In [91]:
df.groupby(['MaleOrFemale']).agg(
 {
     "Salary": ['sum', 'max', 'mean', lambda x: x.max() -x.median()]
 })

             Salary
                sum max       mean <lambda_0>
MaleOrFemale
Female          306  85  61.200000       21.0
Male            450  94  64.285714       37.0

In [92]:
list(df['Salary'].groupby(df['MaleOrFemale']))

[('Female', 1    64
  3    85
  5    25
  8    62
  9    70
  Name: Salary, dtype: int64), ('Male', 0     34
  2     57
  4     56
  6     94
  7     57
  10    92
  11    60
  Name: Salary, dtype: int64)]

In [93]:
len(list(df['Salary'].groupby(df['MaleOrFemale']))[0])

2

In [94]:
list(df['Salary'].groupby(df['MaleOrFemale']))[0][1]

1    64
3    85
5    25
8    62
9    70
Name: Salary, dtype: int64

In [95]:
sum(list(df['Salary'].groupby(df['MaleOrFemale']))[0][1])

306

In [96]:
max(list(df['Salary'].groupby(df['MaleOrFemale']))[0][1])

85

In [97]:
np.average(list(df['Salary'].groupby(df['MaleOrFemale']))[0][1])

61.2