In [1]:
import pandas as pd
import numpy as np

In [2]:
#3.Loading data into dataframe
import io
df = pd.read_csv("D:\iris.data.csv") # csv file in dataframe called df
#Dataset is now stored in a pandas Dataframe

In [3]:
#4.1 Information of the data present in dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [4]:
#4.2 Getting the dimensions/shape of the data.
#Expect it to be 150 rows and 5 colums.

print(df.shape)

(149, 5)

In [5]:
#5 print the first 20 data points  the head of the dataset
print(df.head(20))

    5.1  3.5  1.4  0.2  Iris-setosa
0   4.9  3.0  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
2   4.6  3.1  1.5  0.2  Iris-setosa
3   5.0  3.6  1.4  0.2  Iris-setosa
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa

In [6]:
#4.4 check the data types in the datframe
df.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [7]:
#4.5 use the groupbuy method to determine the class distribution

In [ ]:
#4.6 Data points count value for each class labels.
df.Species.value_counts()

In [ ]:
#5 Turing categorical variables into quantative variables

from sklearn import preprocessing
#Label_encoder object knows how to understand word labels

label_encoder = preprocessing.LabelEncoder()

In [ ]:
df['Species'].unique()

In [ ]:
df['Species'] = label_encoder.fit_transform(df['Species'])

In [ ]:
df['Species']